<!DOCTYPE html>
<html>
  <head>
    <title>HackerNews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=userlink>
      <% if current_user %>
        logged in as <%= current_user.name %>
        <%= link_to "Log Out", session_path(current_user), method: "delete" %>
      <% else %>
        <%= link_to "Sign Up", signup_path %>| &nbsp
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>
    <%= flash[:alert]%>
    <%= flash[:notice]%>
    <%= yield %>
  </body>
</html>
