<h1>Comments#show</h1>

<% if @comments.any? %>
    <h3> comments on opinion by:<%= @comment.author %> </h3>
    <ul>
        <% @comments.each do |comment| %>
            <li><%= simple_format comment.author %></li>
            <p><%= simple_format comment.opinion %></p>
        <% end %>
    </ul>
    <% else %>
    <h3> there are no comments on opinion by:<%= @comment.author %> </h3>
<% end %>



<%= form_for commentable_path(@comment) do |f| %>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <%= f.label :opinion %>
    <%= f.text_field :opinion %>
    <%= f.submit "submit" %>
  <% end %>