<%= render('layouts/errors', :object => @sighting) %>



  <%= form_for @sighting do |f| %>
  <div class="control-group">
    <%= f.label "region" %>
    <div class="controls">
      <%= f.select :region, [ 'Northern region', 'Southern region', 'Eastern region', 'Western region' ], :prompt => 'Select A Region' %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :warden %>
      <div class="controls">
        <%= f.text_field :warden %>
      </div>
    </div>
    <div class="control-group">
        <%= f.label :address %>
        <div class="controls">
          <%= f.text_field :address %>
        </div>
      </div>
      <div class="control-group">
          <%= f.label :latitude %>
          <div class="controls">
            <%= f.text_field :latitude %>
          </div>
        </div>
        <div class="control-group">
            <%= f.label :longitude %>
            <div class="controls">
              <%= f.text_field :longitude %>
            </div>
          </div>
    <div class="control-group">
      <%= f.label :zone %>
      <div class="controls">
        <%= f.text_field :zone %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit 'submit', :class => 'btn btn-primary'%>
      </div>
    </div>
<% end %>
