<div class="image">
    <h1>here are your sightings</h1>

    <table>
          <tr>
            <th>Region</th>
            <th>Warden</th>
            <th>Zone</th>
          </tr>
    <% @sightings.each do |sighting| %>
      <tr >
        <td><%= link_to sighting.region, sighting_path(sighting) %></td>
        <td><%= link_to sighting.warden %></td>
        <td><%= link_to sighting.zone %></td>
        <p class="lat"><%= link_to sighting.latitude %></p><p class="lng"><%= link_to sighting.longitude %></p>
      </tr>
    <% end %>
    </table>

    <br>
      <%= link_to "New Sighting", new_sighting_path %>
    </div>