<footer>
    <div class="col-md-12">
      <div class= "col-md-4">
          <p><%= image_tag "github1.svg", class: "img_icons" %> &nbsp;github</p>
          <p><%= image_tag "linkedin.svg", class: "img_icons"%> &nbsp;linkedIn</p>
          <p><%= image_tag "tweeter.svg", class: "img_icons"%> &nbsp;tweeter</p>
      </div>
      <div class= "col-md-4">
          <p><%= image_tag "email.svg", class: "img_icons"%> &nbsp;email</p>
          <p><%= image_tag "facebook.svg", class: "img_icons"%> &nbsp;facebook</p>
          <p><%= image_tag "tweeter.svg", class: "img_icons"%></p>
      </div>
      <div class= "col-md-4">
          <p><%= image_tag "email.svg", class: "img_icons"%></p>
          <p><%= image_tag "linkedin.svg", class: "img_icons"%></p>
          <p><%= image_tag "tweeter.svg", class: "img_icons"%></p>
      </div>
    </div>
    </footer>