<h1> Welcome to admin </h1>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="javascript:void(0)" onclick="openTab('block1')">Profile</a></li>
    <li><a href="javascript:void(0)" onclick="openTab('block2')">Skills</a></li>
    <li><a href="javascript:void(0)" onclick="openTab('block3')">Projects</a></li>
    <li><a href="#">Blog</a></li>
  </ul>

<div id="block1",class="tab" >
  <ul>
  <% @skills.each do |skill| %>
    <li ><%= link_to skill.language, skill_path(skill) %></li>
    &nbsp &nbsp &nbsp |<span class="glyphicon glyphicon-pencil" aria-hidden="true"><%= link_to "edit-lang", edit_skill_path(skill)%></span>
    &nbsp|<span class="glyphicon glyphicon-trash" aria-hidden="true"><%= link_to "del-lang", skill_path(skill), data: {confirm: 'delete lang?', method: 'delete'}%></span>
    &nbsp|<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"><%= link_to "new project?",  new_skill_project_path(skill) %></span>
    
    <% skill.projects.each do |project| %>
      <p><%= link_to project.name, skill_project_path(skill,project) %></p>
      &nbsp &nbsp &nbsp |<%= link_to "Edit project", edit_skill_project_path(skill,project)%>
    &nbsp|<%= link_to "Del project", skill_project_path(skill,project), data: {confirm: 'delete project?', method: 'delete'}%>
    <% end %>
  <% end %>
  </ul>
</div>

  <div id="block2",class="tab" style="display:none">
    <ul>
    <% @projects.each do |project| %>
        <li><%= link_to project.name, skill_project_path(project.skill,project) %></li>
        <p><%= image_tag(project.image.url(:medium)) %></p>
    <% end %>
    </ul>
  </div>
</div>