<h1> Welcome to admin </h1>

<%= link_to "add new language?", new_skill_path %>


<ul>
<% @skills.each do |skill| %>
  <li ><%= link_to skill.language, skill_path(skill) %></li>
  &nbsp &nbsp &nbsp |<%= link_to "edit-lang", edit_skill_path(skill)%>
  &nbsp|<%= link_to "del-lang", skill_path(skill), :data => {:confirm => 'delete lang?', :method => 'delete'}%>
<% end %>
</ul>

<%= link_to "add new project?",  new_project_path %>