<h1> Welcome to admin </h1>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li ><a href="javascript:void(0)" onclick="openTab('block4')">Profile</a></li>
    <li class="active"><a href="javascript:void(0)" onclick="openTab('block1')">Skills</a></li>
    <li><a href="javascript:void(0)" onclick="openTab('block2')">Projects</a></li>
    <li><a href="#">Blog</a></li>
  </ul>

<div id="block1",class="tab" style="overflow-x:auto;">
  <table>
    <tr>
    <% @skills.each do |skill| %>
      <th><%= link_to skill.language, skill_path(skill) %></th>
      <th><%= link_to edit_skill_path(skill),class: "btn btn-primary" do %><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i><% end %></th>
      <th><%= link_to skill_path(skill), data: {confirm: 'delete lang?', method: 'delete'},class: "btn btn-danger" do%><i class="glyphicon glyphicon-trash" aria-hidden="true"></i><% end %></th>
      <th><%= link_to new_skill_project_path(skill),class: "btn btn-primary" do %><i class="glyphicon glyphicon-plus-sign" aria-hidden="true"></i><% end %></th>
    </tr>
      
      <tr>
      <% skill.projects.each do |project| %>
        <td><%= link_to project.name, skill_project_path(skill,project) %></th>
        <td><%= link_to edit_skill_project_path(skill,project),class: "btn btn-default" do%><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i><% end %></td>
        <td><%= link_to skill_project_path(skill,project), data: {confirm: 'delete project?', method: 'delete'},class: "btn btn-default" do%><i class="glyphicon glyphicon-trash" aria-hidden="true"></i><% end %></td>
      <% end %>
      </tr>
    <% end %>
  </table>
</div>

  <div id="block2",class="tab" style="display:none">
    <ul>
    <% @projects.each do |project| %>
        <li><%= link_to project.name, skill_project_path(project.skill,project) %></li>
        <p><%= image_tag(project.image.url(:medium)) %></p>
    <% end %>
    </ul>
  </div>
</div>