<h1>Skills</h1>



<table>
  <tr>
    <% @skills.each do |skill| %>
      <th colspan="2"><%= link_to skill_path(skill) do%><%= image_tag(skill.image.url(:thumb))%><%= skill.language %><% end %></td>
  </tr>
  <tr>
    <% skill.projects.each do |project| %>
        <td><%= link_to project.name, skill_project_path(skill,project) %></td>
        <td><%= image_tag(project.image.url(:medium)) %></td>
    <% end %>
    </tr>
  <% end %>
</table>



