<%= render 'layouts/errors', object: @photo %>


<%= form_for @photo, html: { multipart: true} do |f| %>
<div class="control-group">
      <%= f.label :image %>
      <div class="controls">
        <%= f.file_field :image %>
      </div>
    </div>
  <div class="control-group">
      <%= f.label :photo  %>
      <div class="controls">
        <%= f.text_field :photo %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tag %>
      <div class="controls">
        <%= f.text_field :tag %>
      </div>
    </div><br />
    <div class="control-group">
        <div class="controls"><%= f.submit "upload", class: 'btn btn-primary' %></div>
    </div>
<% end %>